[submodule "publications"]
	path = publications
	url = https://github.com/NYU-CI/RCPublications.git
[submodule "datasets"]
	path = datasets
	url = https://github.com/NYU-CI/RCDatasets.git
[submodule "rclc"]
	path = rclc
	url = https://github.com/Coleridge-Initiative/rclc.git
