[submodule "publications"]
	path = publications
	url = https://github.com/NYU-CI/RCPublications.git
[submodule "datasets"]
	path = datasets
	url = https://github.com/NYU-CI/RCDatasets.git
[submodule "rclc"]
	path = rclc
	url = https://github.com/Coleridge-Initiative/rclc.git
[submodule "customers"]
	path = customers
	url = https://github.com/NYU-CI/RCCustomers.git
[submodule "stewards"]
	path = stewards
	url = https://github.com/NYU-CI/RCStewards.git
[submodule "projects"]
	path = projects
	url = https://github.com/NYU-CI/RCProjects
