PyLD >= 1.0.5
jupyter >= 1.0.0
jupyterlab >= 1.0.4
mypy >= 0.730
nose2 >= 0.9.1
pyvis >= 0.1.7.0
ray >= 0.6.5
rdflib >= 4.2.2
rdflib-jsonld >= 0.4.0
requests >= 2.22.0
richcontext.scholapi
skosify >= 2.0.1
tqdm >= 4.37.0
